.container{
    background-color: black;
}
.logo{
    width: 100px;
}
.ulist{
    color: rgba(255, 255, 255, 0.623);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
}
li{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover{
        
        color: white;
    }
}